* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;
  height: auto;
  width: auto;
}

:root {
  --primary-color: #ffffff;
  --secondary-color: #dcdcdc;
  --tertiary-color: #88898a;
  --quaternary-color: #353535;
  --quinary-color: #3072dd84;
}

/*Import Roboto font*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("../src/assets/images/background-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom: 10vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  color: var(--primary-color);
  font-weight: 800;
}

h3 {
  color: var(--primary-color);
  font-weight: bold;
}

/*HEADER*/
header {
  position: sticky;
  position: -webkit sticky; 
  top: 0;
  z-index: 9999;
  padding: 10px 0 8px 0;
  color: var(--primary-color);
  background-image: url("../src/assets/images/background-image.jpg");
  background-size: cover;
  background-attachment: scroll;
  z-index: 9999;
  align-items: center;
}

header h1 {
  color: var(--primary-color);
  font-weight: 900;
  text-align: center;
}


nav ul {
  list-style: none;
}

.navActive span {
 background-color: var(--quinary-color);
 border-radius: 10%;
 padding: 6px;
}

/*End of HEADER*/

/*FOOTER*/

footer {
  background-color: #ffffff14;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer div {
  padding: 10px 5px;
}

footer a {
  align-items: center;
}

.logo {
  max-height: 40px;
}

/*END OF FOOTER*/

/*MAIN CONTENT*/
main {
  padding: 10px 10px;
}

/*About Me*/
#about-me {
  text-align: center;
  padding: 10px;
  row-gap: 10px;
  color: var(--secondary-color);
}

#about-me img {
  max-width: 300px;
  border-radius: 10%;
  opacity: 0.9;
}

.description {
  margin: 10px;
}


/*Contact*/
#contact-form {
  color: var(--secondary-color);
}

#contact-form input {
  border: 1px solid var(--secondary-color);
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: var(--quaternary-color);
  width: 100%;
  margin-bottom: 15px; 
  border-radius: 10px;
  background-color: rgba(255,255,255, 0.75);
}

#contact-form textarea{
  border: 1px solid var(--secondary-color);
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: var(--quaternary-color);
  width: 100%;
  margin-bottom: 15px; 
  border-radius: 10px;
  background-color: rgba(255,255,255, 0.75);
 }

 #contact form button {
  color: var(--quaternary-color);
  background-color: var(--secondary-color);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
 }

 /*Resume*/
 #resume {
  color: var(--primary-color);
  text-align: center;
  row-gap: 10px;
 }

 #resume ul {
  display: flex;
  flex-direction: column;
  margin-right: -4px;
  margin-bottom: -4px;
 }

#resume-proficiencies {
  row-gap: 10px;
  flex-direction: column;
}

/*Portfolio*/
/*Project section*/

#project-section {
  text-align: center;
  row-gap: 20px;
  align-items: center;
  flex-direction: column;
}

.project {
  display: flex;
  flex-direction: column;
  row-gap: 1vh;
  margin-bottom: 2vh;
  padding: .5vh;
  justify-content: center;
}

.project-info {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  flex-basis: 10px;
}

.project-info a {
  color: var(--quaternary-color);
  background-color: rgba(255, 255, 255, 0.777);
  border-radius: 10px;
  padding: 3px;
  text-decoration: none;
}

#project-section img {
  border-radius: 10px;
}

.image-container {
  max-height: 475px;
  max-width: 475px;
}

.image-container img {
  width: 100%;
  display: block;
}

.hover-text {
  background-color: rgba(255, 255, 255, 0.777);
  font-size: 2vh;
  padding: 2vh 2vh 0vh 2vh;
  border-radius: 10px;
}

.hover-text ul {
  list-style: none;
  padding-left: 0;
}
/*END OF MAIN CONTENT */

/* Media Queries */
@media screen and (min-width: 768px) {
  header {
    align-items: flex-end;
    padding: 10px 10px 0 5px;
   }

  h2 {
    font-size: xx-large;
  }

  header nav ul {
  align-items: flex-start;
  column-gap: 14px;   
  }

  header nav a {
  font-size: calc(1em + 1vw);
  }

  #about-me {
    padding: 100px 50px 90px;
  }

  p {
    font-size: x-large;
  }

  .box {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  #contact-form {
    padding: 0px 150px 100px;
  }

  #contact h2 {
    text-align: center;
  }

  body {
    padding-bottom: auto;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  #contact p {
    text-align: center;
  }

  .form {
    padding-top: 100px;
  }

  #resume-proficiencies{
    flex-direction: row;
  }

  .project {
    flex-direction: row;
    column-gap: 2vh;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .project h3 {
    flex-basis: 100%
  }

  .project-info {
    flex-basis: 100%;
    justify-content: center;
  }

  .image-container {
    max-height: 25vh;
    max-width: 30vh;
  }

  .hover-text {
    font-size: 1.2vh;
    max-height: 25vh;
    max-width: 30vh;
  }

  .project-info {
    flex-direction: row;
    column-gap: 10px;
  }

  .hover-text p {
    font-size: 1.5vh;
  }
}

@media screen and (min-width: 938px) {
  #about-me {
    padding: 10px 50px 90px;
  }

  .description {
    background-color: rgba(2, 2, 75, 0.325);
    padding: 20px;
    border-radius: 30px;
  }

  .project {
    flex: 30%;
    flex-direction: column;
    justify-content: stretch;
    column-gap: 1vh;
    padding: 0;
    flex-wrap: wrap;
    vertical-align: top;
  }

  .image-container {
    max-width: 80vh;
    max-height: max-content;
  }

  .hover-text p {
    font-size: 2vh;

  }

  .hover-text {
    font-size: 2vh;
    max-width: max-content;
    max-height: max-content;
  }

  #project-section {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 6vh;
    margin: 4vh;
  }

}