* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;
  height: auto;
  width: auto;
}

:root {
  --primary-color: #0c0c0c;
  --secondary-color: #43474b;
  --tertiary-color: #88898a;
  --quaternary-color: #dcdcdc;
  --quinary-color: #ffffff;
}

/*Import Roboto font*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  color: var(--primary-color);
  font-weight: 800;
}

/*HEADER*/
header {
  background-color: var(--primary-color);
  position: sticky;
  position: -webkit sticky; 
  top: 0;
  z-index: 9999;
  padding: 10px 0 8px 0;
  color: var(--quaternary-color);
}

header h1 {
  color: var(--quaternary-color);
  text-align: center;
}

nav ul {
  list-style: none;
}

/*End of HEADER*/

/*FOOTER*/
footer {
  background-color: var(--quaternary-color);
}

footer div {
  padding: 10px 5px;
}

.logo {
  max-height: 40px;
}

/*END OF FOOTER*/

/*MAIN CONTENT*/
main {
  background-color: var(--quaternary-color);
  padding: 10px 10px;
}
/*About Me*/
#about-me {
  text-align: center;
  padding: 10px;
  row-gap: 10px;
}

#about-me img {
  max-width: 300px;
}

.image-container{
  max-height: 100px;
  max-width: 100px;
}

.project-img{
  height: 100%;
}